<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Date</th>
			<th>Lbs</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody id="tbody">

	</tbody>
</table>

{{#if reset}}
	<p>{{{reset}}}</p>
{{/if}}